* {
    margin: 0;
    padding: 0;
}
.nav {
    height: 80px;
    width: 100%;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}
.main{
   width: 100%;
   height: 470px;
   /* background: url("./imgs/1.jpg") no-repeat; */
   /* background-size: cover; */
   /* opacity: 0.5; */
   background-color: rgb(205, 242, 243);
}
.introduce {
    height: 100%;
    width: 300px;
    background-color: pink;
    float: left;
}
.photos {
    float: left;
    background-color: rgb(238, 163, 50);
    font-size: 30px;
    padding: 20px;
}
.story {
    /* margin: 50px;
    margin-left: 200px; */
    width: 500px;
    float: left;
    background-color: rgba(207, 248, 110,0.5);
    padding: 50px;
    
}
.story p {
    font-size: 30px;
    color: salmon;
}
.footer {
    width: 100%;
    height: 400px;
    background-color: #ccc;
}
.guanzu {
    width: 500px;
    height: 100%;
    margin: 0 auto;
}
.guanzu .h {
    font-size: 30px;
    text-align: center;
}
.ma {
    margin-left: 20px;
}